@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #F8F9FF;
  --foreground: #0F172A;
  --primary: #4F46E5;
  --accent: #EF4444;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--foreground);
}
